@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
	text-align: center;
	background-color: black;
 	font-family: Helvetica, sans-serif;
  	text-decoration-color: red;
}
	
h1 {
	font-family: "Amatic SC", cursive;
	text-align: center;
	font-weight: 12px
	font-size: 40px
}