@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
* { margin:0; padding:0; box-sizing:border-box; }
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
header{
	background-color: black;
	border: 1px black solid;
	padding: 20px;
	color: #F7DCB4;
}

#two_column{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

#description{
	text-align: center;
}

nav{
	background-color: #FFED74;

}

aside{
	background-color: #FFC675;
}

article{
	background-color: #E89C6C;
}

footer{
	align-content: center;
	background-color: #FF957E;
}

section{
	background-color: #FFE2B8;
}

h1{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 40px;
}

h2{
	text-align: center;
	color: white;
}
body {
  font-family: Helvetica;
  text-align: left;
  color: rgba(0,0,0,.87);
}

p {
  font-size: 22px;
}
