@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

h1 {
	font-family: 'Amatic SC', cursive;
	background-color: #A97D5D
	text-align: center;
}
body {
  text-align: left;
  text-decoration-color: #F7DCB4
  background-color: #A97D5D
  font-family: Helvetica; 
}

p {
  font-size: 22px;
}